<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a data-toggle="tab" href="#dataAnalysis">Data Analysis</a></li>
  <li><a data-toggle="tab" href="#Game">Game</a></li>
  <!--
  <li><a data-toggle="tab" href="#messages">Messages</a></li>
  <li><a data-toggle="tab" href="#settings">Settings</a></li>
  <li><a data-toggle="tab" href="#profile">Profile</a></li>
  <li><a data-toggle="tab" href="#messages">Messages</a></li>
  <li><a data-toggle="tab" href="#settings">Settings</a></li>
  <li><a data-toggle="tab" href="#profile">Profile</a></li>
-->
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="dataAnalysis">
  	Data analysis
  </div>
  <div class="tab-pane" id="Game">
    <h3>iOS Game</h3>
    <h4>Shirunken</h4>
    <p>I know that this is not <b>Shuriken</b> but this is just a play of Japanese word. Thanks. </p>
    <p>This is the first iOS game that I think when I really learn Objective C and at the same time the framework 
      <a href="http://cocos2d-iphone.org">Cocos-2D</a>. At the same time, I was experimenting with 
      <a href="http://testflightapp.com">TestFlightSDK</a> using the primary package manager 
      <a href="http://cocoapods.org">Cocoapods</a>. Click<a href="#shirunken" data-toggle="modal"> here</a> for more info.
    </p>
    <h4>Shirunken</h4>

    <p><b>TBD!!!!</b> Click<a href="#memory-game" data-toggle="modal"> here</a> for more info.
    </p>
    
  </div>
  <!--
  <div class="tab-pane" id="messages">...</div>
  <div class="tab-pane" id="settings">...</div>
  <div class="tab-pane" id="profile">...</div>
  <div class="tab-pane" id="messages">...</div>
  <div class="tab-pane" id="settings">...</div>
  <div class="tab-pane" id="profile">...</div>
-->
</div>